<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>body</title>
    <link rel="stylesheet" href="body.css" />
  </head>

  <body>
    <div class="wrapper--text">
      <div class="wrapper__top">
        <h1>The life cycle of a butterfly</h1>
        <p class="top__p">The butterfly and moth</p>
        <div class="wrapper__bottom">
          <h2>Overview</h2>
          <div class="overview--description">
            <p>Insects have two</p>
            <p>Butterflies, moths,</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
