<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Butterfly card</title>
    <link rel="stylesheet" href="butterfly-card.css" />
  </head>

  <body>
    <div class="list">
      <div class="card">
        <div
          class="card-image"
          style="
            --egg: url('../../asset/font/images/eggs.png');
            --cat: url('../../asset/font/images/catterpillar.png');
          "
        ></div>

        <div class="card-container-text">
          <div class="card-header">
            <div class="card-title-eggs"></div>
            <div class="card-title-catterpillar"></div>
          </div>

          <div class="card-info">
            <div class="card-description-eggs"></div>
            <div class="card-description-catterpillar"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
