.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 0 32px;
}

.card-container-text {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  gap: 6px;
}

.card {
  width: 311px;
  border-radius: 8px;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--color);
  cursor: pointer;
  transition: 250ms;
}

.card-image {
  padding-top: 56.24%;
  background-image: var(--egg);
  border-radius: 8px 8px 0 0;
  width: 290px;
  height: 200px;
  background-repeat: round;
  display: flex;
  align-self: center;
  transition: 250ms;
}

.card:hover .card-image {
  background-image: var(--cat);
}

.card-container-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

[class^="card-title-"] {
  display: flex;
  color: #475467;
  text-align: left;
  font-weight: bold;
}

[class^="card-description-"] {
  font-size: 16px;
  line-height: 24px;
  display: flex;
  text-align: left;
}

.card-description-eggs {
  color: #667085;
}

.card-description-catterpillar {
  display: none;
}

.card-header {
  display: flex;
  flex-direction: column;
  gap: 0;
  position: relative;
}

.card-title-eggs {
  font-size: 20px;
  line-height: 30px;
  position: relative;
}

.card-title-catterpillar {
  font-size: 14px;
  line-height: 20px;
  position: relative;
}

.card:hover [class^="card-title-"] {
  color: #e4e7ec;
}

.card:hover .card-description-eggs {
  display: none;
}

.card:hover .card-description-catterpillar {
  display: block;
  color: #f2f4f7;
}

.card:hover .card-header-top {
  display: block;
}

.card:hover .card-header {
  display: none;
}

.card:hover {
  background-color: var(--hover);
  width: 321px;
}

.card-header-top {
  display: none;
  transition: 350ms;
}
