<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Animation</title>
    <link rel="stylesheet" href="animation.css" />
  </head>

  <body>
    <div class="animation-wrap">
      <div
        class="stage"
        style="--stage: url('../../asset/font/images/eggs.png')"
      ></div>
      <div
        class="stage"
        style="--stage: url('../../asset/font/images/catterpillar.png')"
      ></div>
      <div
        class="stage"
        style="--stage: url('../../asset/font/images/pupa.png')"
      ></div>
      <div
        class="stage"
        style="--stage: url('../../asset/font/images/catterpillar-evolve.png')"
      ></div>
      <div
        class="stage"
        style="--stage: url('../../asset/font/images/adult-pupa.png')"
      ></div>
      <div
        class="stage"
        style="--stage: url('../../asset/font/images/butterfly-emerge.png')"
      ></div>
      <div
        class="stage"
        style="--stage: url('../../asset/font/partners/eggs.png')"
      ></div>
      <div
        class="stage"
        style="--stage: url('../../asset/font/images/lay-egss.png')"
      ></div>
    </div>
  </body>
</html>
