.stage {
  background-image: var(--stage);
  width: 200px;
  height: 100px;
  background-repeat: round;
  display: flex;
  align-content: center;
  border-radius: 50%;
}

.animation-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  gap: 1%;
}

.stage-wrap {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-content: center;
  flex-direction: column;
  justify-items: center;
  text-align: center;
}

.animation-text {
  font-size: 14px;
  line-height: 18px;
  width: fit-content;
}

.animation-wrap .stage-wrap:nth-child(1) {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

.animation-wrap .stage-wrap:nth-child(2) {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

.animation-wrap .stage-wrap:nth-child(3) {
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 6s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

.animation-wrap .stage-wrap:nth-child(4) {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 7s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

.animation-wrap .stage-wrap:nth-child(5) {
  animation: fadeIn 6s;
  -webkit-animation: fadeIn 8s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

.animation-wrap .stage-wrap:nth-child(6) {
  animation: fadeIn 7s;
  -webkit-animation: fadeIn 9s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

.animation-wrap .stage-wrap:nth-child(7) {
  animation: fadeIn 8s;
  -webkit-animation: fadeIn 10s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

.animation-wrap .stage-wrap:nth-child(8) {
  animation: fadeIn 9s;
  -webkit-animation: fadeIn 11s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
