<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>nav-bar</title>
    <link rel="stylesheet" href="nav-bar.css" />
  </head>

  <body>
    <div class="nav" theme="purple">
      <div class="nav__top"></div>
      <div class="nav__body">
        <div class="nav__title">Butterflies in a weird tone</div>
        <a href="/watch-it-happenig" class="nav__title"
          >Watch it happening ...</a
        >
        <button onclick="location.href='/watch-it-happenig'">
          <div class="nav__icon--arrow" to="/watch-it-happenig"></div>
        </button>
        <div class="copyright">© Codusttech Ltd 2022</div>
      </div>
    </div>
  </body>
</html>
