* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: Inter;
}

/* layout */

.grid {
  display: grid;
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .nav__title {
    font-size: 20px;
    line-height: 30px;
  }

  .nav {
    padding: 24px;
  }

  [pozitie="sus"] {
    height: 60px;
  }

  button {
    right: 24px;
    width: 60px;
  }

  [class^="nav__icon--arrow"] {
    width: 28px;
    height: 28px;
    align-items: center;
  }

  [class^="nav__icon--arrow"]:before {
    width: 16px;
    height: 16px;
  }

  h1 {
    font-size: 48px;
    line-height: 60px;
    display: flex;
    justify-content: center;
  }

  h2 {
    font-size: 30px;
    line-height: 38px;
  }

  p {
    font-size: 20px;
    line-height: 30px;
  }

  .card {
    justify-self: center;
    width: 768px;
    padding: 16px 4px;
  }

  .card:hover {
    justify-self: center;
    width: 793px;
    padding: 16px 4px;
  }

  .card-title-eggs {
    font-size: 30px;
    line-height: 38px;
  }

  .card-title-catterpillar {
    font-size: 20px;
    line-height: 30px;
  }

  .card-description {
    font-size: 24px;
    line-height: 32px;
  }

  .card-image {
    width: 700px;
    height: 250px;
  }

  .card:hover .card-image {
    width: 740px;
    height: 250px;
  }
}

@media screen and (min-width: 1040px) {
  .nav__title {
    font-size: 24px;
    line-height: 32px;
  }
  .nav {
    padding: 24px;
    height: 80px;
  }

  button {
    right: 24px;
    width: 80px;
    height: 48px;
  }

  [class^="nav__icon--arrow"] {
    align-items: center;
    width: 28px;
    height: 28px;
  }

  [class^="nav__icon--arrow"]:before {
    width: 21px;
    height: 21px;
  }

  h1 {
    font-size: 60px;
    line-height: 72px;
    display: flex;
    justify-content: center;
  }

  h2 {
    font-size: 36px;
    line-height: 44px;
  }

  p {
    font-size: 24px;
    line-height: 32px;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 100%;
  }

  .card {
    justify-self: center;
    height: 650px;
    width: 700px;
    padding: 16px 4px;
  }

  .card:hover {
    justify-self: center;
    height: 670px;
    width: 720px;
    padding: 16px 4px;
  }

  .card-title-eggs {
    font-size: 36px;
    line-height: 44px;
  }

  .card-title-catterpillar {
    font-size: 24px;
    line-height: 32px;
  }

  .card-description {
    font-size: 30px;
    line-height: 38px;
  }

  .card-image {
    width: 650px;
    height: 300px;
  }

  .card:hover .card-image {
    width: 670px;
    height: 300px;
  }
}

section {
  display: flex;
  padding: 2rem;
  gap: 1rem;
  flex-direction: column;
}

.divider {
  height: 32px;
}

.divider-footer {
  height: 150px;
}
